:root {
    --background: #1a1d24;
}

/*
    :root {
    --primary-bg: #1a1d24;
    --secondary-bg: #2a2d35;
    --accent-1: #6b8e7d;
    --accent-1-rgb: 107,142,125;
    --accent-2: #6a9b9b;
    --text-primary: #e2e4e8;
    --text-secondary: #b0b3b8;
    --highlight: #aa8b56;
    --link: #8fa69b;
    --card-border: #6b8e7d40;
    --announcement: #d79b8e;
    --todo-background: #660000;
    --progress-background: #b45f06;
    --done-background: #274e13;
    --white: fff;
    --off-white: #FAF9F6;
}
*/