:root {
    --primary-background: #1a1d24;
    --secondary-background: #2a2d35;
    --code-background: #6b8e7d40;
    --text-colour: #e2e4e8;
    --primary-colour: #6b8e7d;
    --secondary-colour: #6a9b9b;
    --red-error: #c74e4e;
    --border-colour: #6a9b9b;
    /* Font */
    --font-primary: 'Lora', sans-serif;
    --font-scale: 1;
    --font-xsmall: calc(0.875rem * var(--font-scale));
    --font-small: calc(1rem * var(--font-scale));
    --font-medium: calc(1.125rem * var(--font-scale));
    --font-large: calc(1.375rem * var(--font-scale));
    --font-xlarge: calc(1.75rem * var(--font-scale));
    /* misc */
    --titlebar-height: 35px;
    --page-padding: 20px 50px;
}

@font-face {
    font-family: 'Lora';
    src: url('/fonts/Lora.woff2') format('woff2');
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-primary);
}

html, body {
    overflow: hidden;
    height: 100vh;
}

body {
    padding-top: var(--titlebar-height);
    background-color: var(--primary-background);
}

.page {
    background-color: var(--background);
    padding: var(--page-padding);
    overflow-y: auto;
    height: calc(100vh - var(--titlebar-height) - 115px);
    color: var(--text-colour);
}

p {
    font-size: var(--font-medium);
    padding: 10px;
}

form * {
    margin: 4px 0;
}